$primary: #3423A6;
$secondary: #58a4b0;

$danger: #D64933;
$success: #0C7C59;
$info: #C5FFFD;
$alert: #F9DC5C;

:root {
    --color-primary:   #{$primary};
    --color-secondary: #{$secondary};
    --color-danger:    #{$danger};
    --color-success:   #{$success};
    --color-info:      #{$alert};
}