<header class="sticky top-0 shadow-md z-1">
    <div class="navbar bg-base-100">
        <div class="navbar-start">
            <button class="btn btn-ghost btn-circle lg:hidden shadow" x-on:click="showSidebar = !showSidebar">
                <i class="fa-solid fa-bars" >
                </i>
            </button>
        </div>
        <div class="navbar-center inline-flex lg:hidden">
            <a class="btn btn-ghost normal-case text-xl">
                <img src="./../images/logo/logo.svg" alt="Logo of Administratix" class="hidden sm:block" />
                <img src="./../images/logo/logo-mini.svg" alt="Logo of Administratix" class="block sm:hidden" />
            </a>
        </div>
        <div class="navbar-end gap-x-2">
        </div>
    </div>
</header>



