<div class="drawer-side shadow-md">
    <label for="sidebar-menu" class="drawer-overlay"></label>
    <aside class="bg-base-200 w-80">
        <div class="navbar bg-base-100">
            <a class="btn btn-ghost normal-case text-xl w-full" href="./../index.html">
                <img src="./../images/logo/logo.svg" alt="Logo of Administratix" class="" />
            </a>
        </div>
        <div class="menu p-2 pl-0" x-data="{ currentRoute: window.location.pathname }">
            <li><a href="./../quickstart.html" :class="{ 'active': $el.getAttribute('href') == currentRoute }" x-init="console.log($el.getAttribute('href'))">Item 1</a></li>
        </div>
    </aside>
</div>
