<div class="drawer-side shadow-md">
    <label for="sidebar-menu" class="drawer-overlay"></label>
    <aside class="bg-base-200 w-80">
        <div class="navbar bg-base-100">
            <a class="btn btn-ghost normal-case text-xl w-full" href="./../index.html">
                <img src="./../images/logo/logo.svg" alt="Logo of Administratix" class="" />
            </a>
        </div>
        <div class="menu p-2 pl-0" x-data="{ currentRoute: window.location.pathname }">
            <li>
                <a href="./../quickstart.html">
                    <i class="fa-solid fa-circle-play"></i>
                    Quickstart
                </a>
            </li>
            <li class="menu-title">
                <span>UI Components - Actions</span>
            </li>
            <li>
                <a href="./../ui-components-button.html">
                    Button
                </a>
            </li>
        </div>
    </aside>
</div>
