<div class="drawer-side shadow-md">
    <label for="sidebar-menu" class="drawer-overlay"></label>
    <aside class="bg-base-200 w-80">
        <div class="navbar bg-base-100">
            <a class="btn btn-ghost normal-case text-xl w-full" href="./../index.html">
                <img src="./../images/logo/logo.svg" alt="Logo of Administratix" class="" />
            </a>
        </div>
        <div class="menu menu-compact p-2 pl-0" x-data="{ currentRoute: window.location.pathname }">
            <li class="hover-bordered">
                <a class="rounded-l-none active:!rounded-l-none !rounded-r-full" href="./../quickstart.html">
                    <i class="fa-solid fa-circle-play"></i>
                    Quickstart
                </a>
            </li>
            <li class="menu-title">
                <span>UI Components - Actions</span>
            </li>
            <li class="hover-bordered">
                <a class="rounded-l-none active:!rounded-l-none !rounded-r-full" href="./../ui-components-button.html">
                    Button
                </a>
            </li>
            <li class="hover-bordered">
                <a class="rounded-l-none active:!rounded-l-none !rounded-r-full" href="./../ui-components-dropdown.html">
                    Dropdown 
                </a>
            </li>
            <li class="hover-bordered">
                <a class="rounded-l-none active:!rounded-l-none !rounded-r-full" href="./../ui-components-modal.html">
                    Modal 
                </a>
            </li>
            <li class="menu-title">
                <span>UI Components - Data display</span>
            </li>
            <li class="hover-bordered">
                <a class="rounded-l-none active:!rounded-l-none !rounded-r-full" href="./../ui-components-alert.html">
                    Alert 
                </a>
            </li>
            <li class="hover-bordered">
                <a class="rounded-l-none active:!rounded-l-none !rounded-r-full" href="./../ui-components-avatar.html">
                    Avatar
                </a>
            </li>
            <li class="hover-bordered">
                <a class="rounded-l-none active:!rounded-l-none !rounded-r-full" href="./../ui-components-badge.html">
                    Badge 
                </a>
            </li>
            <li class="hover-bordered">
                <a class="rounded-l-none active:!rounded-l-none !rounded-r-full" href="./../ui-components-card.html">
                    Card 
                </a>
            </li>
            <li class="hover-bordered">
                <a class="rounded-l-none active:!rounded-l-none !rounded-r-full" href="./../ui-components-carousel.html">
                    Carousel
                </a>
            </li>
            <li class="hover-bordered">
                <a class="rounded-l-none active:!rounded-l-none !rounded-r-full" href="./../ui-components-collapse.html">
                    Collapse 
                </a>
            </li>
            <li class="hover-bordered">
                <a class="rounded-l-none active:!rounded-l-none !rounded-r-full" href="./../ui-components-countdown.html">
                    Countdown
                </a>
            </li>
            <li class="hover-bordered">
                <a class="rounded-l-none active:!rounded-l-none !rounded-r-full" href="./../ui-components-kbd.html">
                    Kbd 
                </a>
            </li>
            <li class="hover-bordered">
                <a class="rounded-l-none active:!rounded-l-none !rounded-r-full" href="./../ui-components-progress.html">
                    Progress
                </a>
            </li>
            <li class="hover-bordered">
                <a class="rounded-l-none active:!rounded-l-none !rounded-r-full" href="./../ui-components-radial-progress.html">
                    Radial Progress
                </a>
            </li>
            <li class="hover-bordered">
                <a class="rounded-l-none active:!rounded-l-none !rounded-r-full" href="./../ui-components-stat.html">
                    Stat 
                </a>
            </li>
            <li class="hover-bordered">
                <a class="rounded-l-none active:!rounded-l-none !rounded-r-full" href="./../ui-components-table.html">
                    Table 
                </a>
            </li>
            <li class="hover-bordered">
                <a class="rounded-l-none active:!rounded-l-none !rounded-r-full" href="./../ui-components-tooltip.html">
                    Tooltip 
                </a>
            </li>
            <li class="menu-title">
                <span>UI Components - Navigation</span>
            </li>
            <li class="hover-bordered">
                <a class="rounded-l-none active:!rounded-l-none !rounded-r-full" href="./../ui-components-breadcrumbs.html">
                    Breadcrumbs
                </a>
            </li>
            <li class="hover-bordered">
                <a class="rounded-l-none active:!rounded-l-none !rounded-r-full" href="./../ui-components-link.html">
                    Link
                </a>
            </li>
            <li class="hover-bordered">
                <a class="rounded-l-none active:!rounded-l-none !rounded-r-full" href="./../ui-components-menu.html">
                    Menu
                </a>
            </li>
            <li class="hover-bordered">
                <a class="rounded-l-none active:!rounded-l-none !rounded-r-full" href="./../ui-components-steps.html">
                    Steps
                </a>
            </li>
        </div>
    </aside>
</div>
