<!DOCTYPE html>
<html lang="en" data-theme="admin">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
</head>
<body>
    <div class="bg-base-100 drawer drawer-mobile" x-data="{ showSidebar: false }"> 
            <input id="sidebar-menu" type="checkbox" class="drawer-toggle" x-model="showSidebar" />  
            <div class="drawer-content flex flex-col">  
                {{> navbar }}
                <main class="p-2">
{{> @partial-block }}
                </main>
            </div>
            {{> sidebar }}
    </div>
    <script type="module" src="./main.js"></script>
</body>
</html>